.shopcart{
    @include lfpos(3);
    @include lfbr(0,0);
    @include lfzindex(311);
    @include lfwh(100%,0.96rem);
    @include lfbac(red);
    .content{
        @include lfbac(#141d27);
        display: flex;
        font-size: 0;
        .content-left{
            flex: 1;
            .logo-wrapper{
                display: inline-block;
                @include lfpos(1);
                top: -0.2rem;
                margin: 0 0.36rem;
                padding: 0.12rem;
                @include lfbox;
                @include lfwh(0.88rem,0.88rem);
                vertical-align: top;
                @include lfbrds(50%);
                @include lfbac(#101D27);
                .logo{
                    @include lfwh(100%,100%);
                    @include lfbrds(50%);
                    @include lfbac(#2A3237);
                    text-align: center;
                    i{
                        color: #7F838B;
                        font-size: 0.48rem;line-height: 1.5;
                    }
                }
                .hightlight{
                    background: #008BE6;
                    .i{
                        color: #fff;
                    }
                }
                .num{
                    @include lfpos(2);
                    @include lftr(0,0);
                    @include lfwh(0.48rem,0.32rem);
                    @include lffszlh(0.18rem,0.32rem);
                    @include lftac;
                    @include lfbrds(0.32rem);
                    font-weight: 700;
                    @include lfbac(#FF4118);
                    box-shadow: 0 0.08rem 0.16rem 0 rgba(0,0,0,0.4);
                }
            }
            .price{
                display: inline-block;
                font-size: 0.26rem;
                font-weight: 700;
                margin-top: 0.24rem;
                @include lfbox;
                padding-right:0.12rem;
                line-height: 1.5;
                vertical-align: top;
                border-right:1px solid rgba(255,255,255,0.1);
                color: rgba(255,255,255,0.4);
            }
            .hightlight{
                    color: #fff;
            }
            .desc{
                display: inline-block;
                vertical-align: top;
                margin: 0.32rem 0 0 0.32rem;
                color: rgba(255,255,255,0.4);
                font-size: 0.26rem;
            }
        }
        .content-right{
            flex: 0 0 2.1rem;
            width: 2.1rem;
            @include lfbac(#28323D);
            .pay{
                height: 0.96rem;
                text-align: center;
                line-height:  0.96rem;
                font-size: 0.24rem;
                color: rgba(255,255,255,0.4);
                font-weight: 700;
            }
           .not-enough{
                @include lfbac(#28323D);
            }
            .enough{
                @include lfbac(#058B41);
                color: #fff;
            }
        }
    }
}
.shopcart-list{
    @include lfpos(2);
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    transform: translate3d(0,-100%,0);
    transition: all 1s;
    @include lfbac(red);
    .list-header{
        height: 0.8rem;
        line-height: 0.8rem;
        padding: 0 0.36rem;
        background: #f3f5f7;
        border-bottom: 0.02rem solid rbga(7,17,27,0.1);
        .title{
            float: left;
            font-size: 0.28rem;
            color: rbg(7,17,27);
        }
        .empty{
            float: right;
            font-size: 0.24rem;
            color: rbg(0,160,220);
        }
    }
    .list-content{
        padding: 0 0.36rem;
        max-height: 4rem;
        background: #fff;
        @include lfoh;
        .food{
           @include lfpos(1);
           padding:  0.24rem 0;
           border-bottom: 0.01rem solid rgba(7,17,27,0.1);
           .name{
               line-height: 0.48rem;
               font-size: 0.28rem;
               color: rgb(7,17,27);
           }
           .price{
               @include lfpos(2);
               @include lfbr(0.24rem,1.8rem);
               line-height: 0.48rem;
               font-size: 0.28rem;
               font-weight: 700;
               color: rgb(240,20,20);
           }
           .cartcontrol-wrapper{
               @include lfpos(2);
               @include lfbr(0.12rem,0);
               
           }
        }
    }
    
}
.fold-enter,.fold-leave-active{
    transform: translate3d(0,0,0);
    opacity: 0;
}
.moban{
    @include lfwh(100%,100rem);
    @include lfbac(rgba(7,17,27,0.6));
    @include lfpos(3);
    top: -50rem;left: 0;
    z-index: -2;
    filter: blur(0.1rem);
}
